.formContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipeForm {
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.recipeForm h1 {
    font-size: 50px;
    margin-top: 35px;
    margin-bottom: 35px;
}
